<div class="container-fluid text-center" id="mainContain">
<h1>Eat Da Burger!</h1>
<div class="container-fluid border" id="availEaten">
  <div class="row">
    <div class="col-md-6" id="available">
      <h3>Burgers Available!</h3>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
          data-newDevoured="{{devour}}">Devour!</span></button>
        <hr>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
      <div class="col-md-6" id="eaten">
        <h3>Devoured Burgers!</h3>

        <ul>
          {{#each burgers}}
          {{#if devoured}}
          <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
          <button type="button" class="makeburger btn btn-primary" id="makebutton" data-id="{{this.id}}"
          data-newDevoured="{{devour}}">Order!</span></button>
          <hr>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

<h3>Add a Burger</h3>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="devour">Devour?</label><br>
    <input type="radio" name="devoured" value="0" checked> Available!<br>
    <input type="radio" name="devoured" value="1"> Devoured
  </div> --}}

  <button type="submit">Add Burger</button>
</form>
</div>